@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --Dark_Gray: hsl(0, 0%, 55%);
  --Very_Dark_Gray: hsl(0, 0%, 41%);
}
body {
  Font-size: 15px;
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
}

.container{
  width: 100%;
  height: 100%;
  padding: 70px 100px 0;
}


@media screen and(max-width:375) {
  .container{
    padding: 10px;
  }
}